body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  text-align: center;
}

a {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  color: #fa9fbb;
  text-decoration: none;
}

a:visited {
  color: #fa9fbb;
}

a:hover {
  color: gray;
}

li {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 16px;
}

p {
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.content {
  margin: 32px auto;
  width: fit-content;
  text-align: left;
}

.footer {
  background-color: #454545;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-links a {
  margin-right: 20px;
}

.footer-links img {
  height: 32px;
}

.prod {
  color: limegreen;
}

.pre-prod {
  color: tan;
}

#avatar {
  margin: 32px auto;
  display: block;
}

#hero {
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  margin: 2rem auto;
}

#footer-text {
  color: white;
  text-align: left;
  width: 100vw;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: fit-content;
  margin: auto;
}
