body {
  background-color: #202020;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
}

h1 {
  display: block;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

h2 {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

a {
  font-weight: 600;
  text-decoration: underline;
  color: white;
}

.logo {
  max-width: 6rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.project-screenshot {
  max-width: 100%;
  height: auto;
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: -1px;
  transition: transform 0.2s 0.1s;
}

.project-screenshot:hover {
  transform: scale(1.05);
}

.project-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.project-description {
  font-weight: 300;
  margin: 0;
  text-align: center;
  font-size: 1.6rem;
}

.horizontal-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #454545;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-links a {
  margin-right: 20px;
}

.footer-links img {
  height: 32px;
}

.post-content p,
li {
  font-size: 1.6rem;
}

.post-content h2 {
  font-size: 2rem;
  font-weight: 600;
}

.post-image {
  max-width: 50rem;
  max-height: 20rem;
  display: block;
  margin: auto;
}

#footer-text {
  color: white;
  text-align: left;
  width: 100vw;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
}

#nav-links a {
  text-decoration: none;
}

#nav-links a:hover {
  color: grey;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  iframe {
    width: 100vw;
    height: 56vw;
  }

  .logo {
    max-width: 3rem;
  }

  #nav-links {
    gap: 1rem;
  }

  #footer-text {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .horizontal-container {
    gap: 2rem;
  }

  .post-image {
    max-width: 100%;
  }

  html {
    font-size: 12px;
  }
}

@media (min-width: 769px) {
  .project-container {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 3rem;
  }

  .project-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-screenshot {
    max-width: 24rem;
  }
}
